<a href="https://colab.research.google.com/github/m0fauzi/BEP2073_S21/blob/main/L3_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
a = 0;

In [8]:
for i in range(3):
  print(i)

0
1
2

In [13]:
if a == 1:
  print('True')
else:
  print('False')

False

In [19]:
a,b,c = 1,2,3
count = 0
for i in range(1,b):
  if i%c == 0:
    count += 1
print('count =', count)

count = 0

In [22]:
num = int(input('Enter a number = '))
#num = 7

if num > 1:
  for i in range(2,num):
    if num % i == 0:
      print('%d is not a prime number' %num)
      break
  else:
    print('%d is a prime number' %num)
else:
  print('%d is not a prime number' %num)

Enter a number = 7
7 is a prime number

In [31]:
isSelected = False

In [42]:
#toggle application
if isSelected:
  print('Option 1')
  isSelected = False
else:
  print('Option 2')
  isSelected = True

Option 1

In [43]:
x = []

In [44]:
# Revision 1
# What volume does 41.2 g of CO2 gas at a pressure of P atm and a temperature of 514 K occupy?. 
# Given: R = 0.08206 L (atm)/K (mol) 
Mw = 44.01
m = 41.2
P = 51
R = 0.08206
T = 514
n = m/Mw
V = n*R*T/P
print('Volume = ',V)

Volume =  0.774230548315668

In [45]:
type(V)

float

In [52]:
#List
x = [1,2,3]
y = ['a','b','c']
print(type(x))

<class 'list'>

In [56]:
#Tuples
x = (1,2,3)
y = ('a','b','c')
y[1]

'b'

In [59]:
x = 'abcd'
x[1]

'b'

In [65]:
y = ['a','b','c']
for i in y:
  if i == 'a':
    print('Option b')
    break
else:
  print('No option')

Option b

In [68]:
y = ['a','b','c']
for i in range(3):
  print(y[i])

a
b
c

In [74]:
# Revision 1
# What volume does 41.2 g of CO2 gas at a pressure 
# of P atm and a temperature of 514 K occupy?. 
# Given: R = 0.08206 L (atm)/K (mol) 
Mw = 44.01
m = 41.2
P = [51, 82, 22, 54, 71, 78, 48, 34, 48, 10]
R = 0.08206
T = 514
n = m/Mw
for i in P:
  V = n*R*T/i
  print('Volume at P = %d atm is %0.3f L' %(i,V))

Volume at P = 51 atm is 0.774 L
Volume at P = 82 atm is 0.482 L
Volume at P = 22 atm is 1.795 L
Volume at P = 54 atm is 0.731 L
Volume at P = 71 atm is 0.556 L
Volume at P = 78 atm is 0.506 L
Volume at P = 48 atm is 0.823 L
Volume at P = 34 atm is 1.161 L
Volume at P = 48 atm is 0.823 L
Volume at P = 10 atm is 3.949 L

In [80]:
# Develop a program to determine DO 
# at T = 8 oC, 16 oC, and 32 oC

T = [0, 8, 16, 24, 32, 40]
DO = [14.621,	11.843,	9.87,	8.47,	7.305,	6.413]

for i in range(6):
  if i == 1 or i == 2 or i == 4:
    print('At T = %d C DO = %0.3f' %(T[i],DO[i]))

At T = 8 C DO = 11.843
At T = 16 C DO = 9.870
At T = 32 C DO = 7.305

In [83]:
x = [1,2,3,4]
x[0]

1

In [87]:
x = {1,2,3,4}
print(type(x))
x[1]

<class 'set'>

TypeError: ignored

In [89]:
for i in x:
  print(i)

1
2
3
4

In [96]:
Car = {'Brand':"Honda","Year":2021}
type(Car)

dict

In [97]:
Car["Brand"]

'Honda'